extends layout

block content
  h1 Common Internal Microsoft Portals
  h2=foobar
  input#searchbar(type="search", placeholder="Search here", oninput="filter_tiles(this)")
  #noresults No results!
  #error
  #main(role="main")
    each result in results
      .categorySection
        span(class="categoryTitle")= result.category
        hr(color="black" size="6" align="left")
        each site in result.sites
          .listing
            a.square(class= site.color, href= site.link)
              .symbol= site.symbol
              img.pic.stretch(src= site.image, alt= site.symbol)
            .info
              span.category= site.category
              span.priority= site.priority
              span.title= site.title
              br
              span.description= site.description
              br
              a.link(href= site.link)= site.link_readable
  footer
    | Need help? Email 
    a(href="mailto:sites@microsoft.com?Subject=[support]") sites@microsoft.com
    |  with [support] in the subject line.

block scripts
  script(src='https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js')
  script window._ || document.write('<script src="javascripts/vendor/lodash-4.17.4.min.js"><\/script>')
  script(src='/javascripts/script.js')
